.mainPage {
    font-family: 'Arial', sans-serif;
    color: #333;
    background-image: linear-gradient(90deg, #00F260, #0575E6);
    .headerMain {
        position: relative;
        background-color: transparent;
        padding: 20px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        display: flex;
        justify-content: space-between;
        align-items: center;
        // border: #333;
        .userSection {
            display: flex;
            align-items: center;

            .userInfo {
                display: flex;
                align-items: center;
                cursor: pointer;
                position: relative;

                .userAvatar {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    margin-right: 10px;
                }

                .dropdownMenu {
                    position: absolute;
                    top: 50px;
                    left: 0;
                    background: transparent;
                    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
                    border-radius: 5px;
                    z-index: 100;

                    button {
                        display: flex;
                        align-items: center;
                        width: 100%;
                        padding: 10px;
                        text-align: left;
                        border: none;
                        background: none;
                        cursor: pointer;

                        &:hover {
                            background-color: #f0f0f0;
                        }

                        svg {
                            margin-right: 8px; // Отступ для значков
                        }
                    }
                }
            }
        }

        .navMain {
            position: absolute;
            align-items: center;
            top: 50%; 
            left: 55%;
             transform: translate(-50%, -50%);
            // left: 200px;
            flex-grow: 1; // Занимает оставшееся пространство

            ul {
                list-style: none;
                padding: 0;
                
                display: flex;
                justify-content: center; // Центрируем меню
                
                li {
                    
                    margin: 0 15px;

                    a {
                        text-decoration: none;
                        color: #333;
                        font-weight: bold;
                        transition: color 0.3s;

                        &:hover {
                            color: #007bff;
                        }
                    }
                }
            }
        }

         .toggleContainer {
             position: absolute;
             //transform: scale(0.9) translateZ(0);
             right: 50px;
             //backface-visibility: hidden;
             //perspective: 1000px;
             //will-change: transform;
           
         }
        .toggle__handler {
            left: 2px;
        }
    }

    .categories {
        display: flex;
        align-items: center;
        margin: 20px 0;

    .scroll-button {
        background: none;
        border: none; // Убираем границу
        cursor: pointer;
        font-size: 24px;
        color: #000000;

        &:hover {
            color: #ffffff;
        }
    }

        .category-list {
            display: flex;
            overflow: hidden; // Скрываем горизонтальный скролл

            .category-item {
                min-width: 150px;
                padding: 10px;
                background: #e9ecef;
                margin: 0 10px;
                border-radius: 5px;
                text-align: center;
                transition: background 0.3s;

                &:hover {
                    background: #007bff;
                    color: white;
                }
            }
        }
    }

    .section {
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        padding: 60px 20px;
        text-align: center;

        h2 {
            margin-bottom: 20px;
            font-size: 2em;
        }

        p {
            font-size: 1.2em;
            max-width: 600px;
            margin: 0 auto;
        }
    }

    .footerMain {
        background-color: transparent;
        text-align: center;
        padding: 20px;
        position: relative;
        bottom: 0;
        width: 100%;
    }

    &.darkMode {
        // background-color: #2c2c2c;
        background-image: linear-gradient(90deg, #065625, #013264);
        color: white;

        .headerMain {
            background-color: transparent;

            .navMain {
                ul {
                    li {
                        a {
                            color: white;

                            &:hover {
                                color: #007bff;
                            }
                        }
                    }
                }
            }

            .userInfo {
                .userAvatar {
                    border: 2px solid #fff;
                }

                .dropdownMenu {
                    background: #555;

                    button {
                        color: white;

                        &:hover {
                            background-color: #666;
                        }
                    }
                }
            }
        }

        .categories {
            background-color: transparent;
            .category-item {
                background: #455d7a;
                color: white;

                &:hover {
                    background: #007bff;
                }
            }
        }

        .section {background-color: transparent;

        }

        .footerMain {
            background-color: transparent;
        }
    }
        @media (max-width: 768px) {
            .navMain{
                display: none;
            }
        }
}